.select2-container .select2-selection--single{
    height: 52px !important;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 52px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
    top: 80%;
}
.select2-search__field{
    outline-offset: 0;
    -webkit-appearance: none;
    outline-width: 0;
}