div.dataTables_wrapper div.dataTables_filter input:focus{
    outline-offset: 0;
    -webkit-appearance: none;
    outline-width: 0;
}
.dataTables_length{
    width: 25%;
    float: left;
}
.dt-buttons{
    position: relative;
    width: 50%;
}
.dataTables_filter{
    width: 25%;
    float: right;
}
@media (max-width: 700px) {
    .dataTables_length{
        width: 100%;
    }
    .dt-buttons{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 1em;
    }
    .dataTables_filter{
        width: 100%;
    }
}