@font-face {
    font-family: 'Poppins-Medium';
    src: local('../font/Poppins-Medium.ttf'), url('../font/Poppins-Medium.ttf');
}
*{
    font-family: Poppins-Medium !important;
}
.form-control.is-invalid {
    border-color: #dc3545 !important;
}
div#calendar {
    height: 55em !important;
}
.calendar-inner {
    height: 100% !important;
}
.event-container > .event-info > p.event-title{
    font-size: 14px !important;
}